footer {
    background: linear-gradient(to right, #334155, #1e293b);
    color: white;
    padding: 1rem 0;
    margin-top: 3rem;

    section {
        max-width: 1280px;
        margin: 0 auto;
        padding: 0 1rem;
        text-align: center;

        article {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
        }
    }
}

.footer-contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 20px;

    a {
        color: #67e8f9;
        text-decoration: none;


        &:hover {
            color: #0564f1;
        }
    }
}

.footer-social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    margin: 8px;

    img {
        height: 26px;
        width: 28px;
    }
}

.footer-copyright {
    padding-top: 0.5rem;
    border-top: 1px solid #475569;
    font-size: 14px;
    color: #9ca3af;
    text-align: center;
}