@use "../utilities/mixins";
@use "../utilities/variables";


footer {
    background: linear-gradient(to right, #334155, #1e293b);
    color: white;
    padding: 1rem 0;
    margin-top: 3rem;

    section {
        max-width: 1280px;
        margin: 0 auto;
        padding: 0 1rem;
        text-align: center;

        article {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    }
}

.footer-contacts {
    @include mixins.flex (row, center, center);
    align-items: center;
    gap: 20px;
    font-size: 20px;

    a {
        color:variables.$baner-blue;
        text-decoration: none;


        &:hover {
            color: #0564f1;
        }
    }
}

.footer-social {
    @include mixins.flex (row, center, center);
    gap: 70px;
    margin: 8px;

    img {
        height: 26px;
        width: 28px;
    }
}

.footer-copyright {
  @include mixins.font (14px, 400, #9ca3af);

    padding-top: 0.5rem;
    border-top: 1px solid #475569;
    text-align: center;

    &:hover {
        color: #0564f1;
    }
}



// RESPONSIVE

@media(max-width: 480px) {

    footer {
        flex-direction: column;
        margin-top: 5px;

        section {
            article {
                gap: 5px;
            }
        }
    }

    .footer-contacts {
        font-size: 12px;
        gap: 5px;
        flex-direction: column;

    }

    .footer-social {
        gap: 40px;

        img {
            height: 18px;
            width: 17px;
        }

    }

    .footer-copyright p {
        font-size: 8px;
        margin-bottom: 0;
    }
}