@use "../utilities/variables";
@use "../utilities/mixins";



header {

    nav {
        background: linear-gradient(to right, variables.$baner-blue, variables.$baner-green);

        div {

            a {
                @include mixins.flex (row, center, center);

                img {
                    border-radius: 50%;
                    height: 70px;
                    width: 70px;
                    align-items: center
                }

                span {
                    @include mixins.font(40px, 700, white);
                    padding: 0px 20px;
                    border-radius: 10px;
                }
            }
        }
    }
}


.offcanvas-body {
    background: linear-gradient(to right, variables.$baner-blue, variables.$baner-green);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;

    ul {
        list-style: none;
        padding: 0;

        li {
            @include mixins.flex (row, center, center);

            a {
                color: white;
                text-decoration: none;
                font-size: 26px;


                &:hover {
                    color: variables.$title-hover;
                    text-decoration: underline;
                    cursor: pointer;
                }

                button {
                    background-color: variables.$baner-green;
                    color: white;
                    border: none;
                    padding: 10px 20px;
                    border-radius: 5px;
                    cursor: pointer;
                    font-size: 20px;

                    &:hover {
                        background-color: variables.$title-hover;
                    }
                }
            }
        }
    }
}

.user-icon {
    margin: 0 0 0 20px;

}

// RESPONSIVE