@use "../utilities/variables";
@use "../utilities/mixins";

.home-main {
    max-width: 92%;
    background-color: variables.$fondo-consultorios;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
}

.home-header {
    background-image: url('/assets/tipos-de-sonrisa-1.jpg');
    @include mixins.img();
    padding: 60px 20px;
    text-align: center;
    position: relative;
    height: 600px;
    max-width: 130%;



    img {
        position: absolute;
        top: 200px;
        left: 31%;
        border-radius: 50%;
        height: 120px;
        width: 120px;
        display: flex;
        align-items: center;
        background: transparent;
    }

    div {
        text-shadow: 2px 2px 1px #0a095a;
        margin-top: 20px;
        background: rgba(114, 114, 114, 0.3);
        height: 200px;
        width: 40%;
        border-radius: 2rem;
        position: absolute;
        top: 135px;
        left: 30%;
        padding-left: 120px;

        h1 {
            @include mixins.font(40px, 700, variables.$baner-green);
            display: inline-block;
            padding: 15px 30px;
            border-radius: 10px;
        }

        p {
            @include mixins.font(22px, 500, white);
            margin-top: 10px;
            padding: 10px 20px;
        }
    }
}

/* Tratamientos */
.home-tratamientos {
    border-radius: 10px;
    padding: 40px 20px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 80%;
    margin: 0 auto;

    h2 {
        @include mixins.font(34px, 700, variables.$baner-green);
        width: 100%;
        margin-bottom: 30px;
        text-shadow: 1px 1px 1px #1e1c8f;
        background: #effaff;
        padding: 10px 20px;
        border-radius: 10px;
    }

    article {
        display: grid;
        grid-template-columns: repeat(4, 250px);
        grid-template-rows: repeat(2, 250px);
        grid-area: auto;
        background-color: #f0f9ff;
        gap: 30px;
        padding: 20px;
        border-radius: 10px;

    }

    h3 {
        @include mixins.font(20px, 500, white);
        background-color: rgba(0, 0, 0, 0.5);
        padding: 5px 10px;
        border-radius: 5px;
        text-align: center;
        margin-top: 70%;
    }
}

/* Imágenes de fondo para los tratamientos*/
.Odontología-general {
    background-image: url('/assets/sonrisa-dientes-sanos-perfectos-mujer-joven_168410-402.jpg');
    @include mixins.img();
}

.Implantologia {
    background-image: url('/assets/implantes-dentales.jpg');
    @include mixins.img();
}

.Endodoncia {
    background-image: url('/assets/render-tratamiento-endodoncia.webp');
    @include mixins.img();
}

.Estética-dental {
    background-image: url('/assets/estetica-dental.jpg');
    @include mixins.img();
}

.Ortodoncia {
    background-image: url('/assets/ortodoncia-clinica-dental.jpeg');
    @include mixins.img();
}

.protesis {
    background-image: url('/assets/diferentes-tipos-de-protesis-dental.jpg');
    @include mixins.img();
}

.Periodoncia {
    background-image: url('/assets/periodoncia-dental.jpg');
    @include mixins.img();
}

.Radiografía {
    background-image: url('/assets/radiografia-dental.jpg');
    @include mixins.img();
}

/* Consultorios */
.home-consultorios {
    padding: 40px 20px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;

    h2 {
        @include mixins.font (35px, 600, black);
        width: 50%;
        background-color: #f1fffd;
        border-radius: 10px;
        padding: 10px;
        margin: 20px 200px;
    }

    div {
        background-color: #d8ffff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
        text-align: left;
        width: 550px;

        h3 {
            @include mixins.font (28px, 700, variables.$baner-blue);
            text-shadow: 1px 1px 1px #0a095a;
        }

        li {
            @include mixins.font (18px, 500, grey);

            a {
                text-decoration: none;
            }
        }

        ul {
            list-style: none;
        }
    }
}


// RESPONSIVE

@media(max-width: 480px) {

    .home-main {
        display: block;
        flex-direction: column;
        max-width: 100%;
    }

    .home-header {
        height: 200px;

        img {
            height: 50px;
            width: 50px;
            top: auto;
            left: auto;
        }

        div {
            width: 90%;
            height: 150px;
            top: 0;
            left: auto;
            padding-left: 30px;

            h1 {
                font-size: 24px;
                padding: 5px 10px;
            }

            p {
                font-size: 16px;
                padding: 5px 10px;
            }
        }
    }


    .home-tratamientos {
        padding: 5px;
        max-width: 100%;
        flex-direction: column;

        h2 {
            font-size: 22px;
            padding: 5px 10px;
            margin-bottom: 0;
            text-shadow: none;
        }

        article {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: repeat(4, 1fr);

            h3 {
                font-size: 12px;
            }
        }
    }

    .home-consultorios {
        padding: 5px;

        h2 {
            font-size: 24px;
            padding: 8px;
            margin: auto;
        }

        div {
            padding: 5px;

            h3 {
                font-size: 20px;
            }

            ul {
                padding: 10px;
                font-size: 16px;
            }
        }
    }

}