* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
}

body {
    font-family: "Noto Sans", sans-serif;
    background: linear-gradient(to bottom right, #f6f9fd, #e2e4e7);
    min-height: 100vh;
}